<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".Thanks_Order_Activity"
            android:exported="false" />
        <activity
            android:name=".OrderAnalyticDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ThongKeActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".OrderManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Detail_History_Order_Activity"
            android:exported="false" />
        <activity
            android:name=".History_Order_Activity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderListActivity"
            android:exported="true" />
        <activity
            android:name=".Order_Activity"
            android:exported="true" />
        <activity
            android:name=".PromotionListActivity"
            android:exported="true" />
        <activity
            android:name=".PromotionDetailActivity"
            android:exported="true" />
        <activity
            android:name=".CreatePromotionActivity"
            android:exported="true" />
        <activity
            android:name=".DrinkDetailActivity2"
            android:exported="true" />
        <activity
            android:name=".AddProductActivity"
            android:exported="true" /> <!-- Khai báo MainActivity -->
        <activity
            android:name=".DrinkListActivity"
            android:exported="true" /> <!-- Khai báo MainActivity -->
        <activity
            android:name=".Cart_Activity"
            android:exported="false" />
        <activity
            android:name=".Favorite_Drink_Activity"
            android:exported="true" />
        <activity
            android:name=".DrinkDetailActivity"
            android:exported="true" />
        <activity
            android:name=".User_Activity"
            android:exported="false" />
        <activity
            android:name=".Register_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchDrinkActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>